/*
=================
Global
=================
*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: .5s;
    font-family: 'Oswald';
    cursor: default;
}
.py-20 {
    padding: 0 20px;
}
a {
    cursor: pointer;
}
.section {
    max-width: 1300px;
    margin: 0 auto;
}
.section-block {
    max-width: 800px;
    margin: 0 auto;
}
.title-left {
    text-align: left;
}
.title-center {
    text-align: center;
}
.title-right {
    text-align: right;
}
.m-160 {
    margin-top: 160px;
}
/*
=================
Header
=================
*/
header {
    border-bottom: 1px solid black;
}
.header-content {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logotip {
    width: 260px;
    color: black;
    font-size: 32px;
    font-weight: 600;
}
.header-nav {
    display: flex;
    gap: 20px;
    font-size: 18px;
}
.header-nav a {
    color: black;
}
.header-nav a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}
.header-btn {
    display: flex;
    gap: 10px;
}
.header-btn a {
    color: black;
    padding: 6px 36px;
    border: 1px solid black;
}
.header-btn a:hover {
    color: white;
    background: #000;
}
/*
=================
Product
=================
*/
.one {
    height: 90vh;
    display: flex;
    align-items: center;
}
.one-content {
    display: flex;
    gap: 10px;
}
.one-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.one-name p {
    font-size: 32px;
    font-weight: 400;
}
.one-disc {
    font-size: 28px;
    font-weight: 300;
}
.one-bottom {
    display: flex;
    justify-content: space-between;
}
.one-bottom .cost {
    font-size: 24px;
    font-weight: 300;
}
.one-btn {
    color: black;
    padding: 8px 42px;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 400;
}
.one-btn:hover {
    border: 1px solid green;
    color: green;
}
/*
=================
Footer
=================
*/
footer {
    background: #000;
}
.footer-content {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.footer-logotip {
    color: white;
    font-size: 32px;
    font-weight: 600;
}
.footer-nav {
    display: flex;
    gap: 12px;
}
.footer-name {
    color: white;
    font-size: 18px;
    font-weight: 200;
}
.footer-nav a {
    color: white;
    font-size: 18px;
    font-weight: 200;
}
.footer-btn {
    padding: 6px 32px;
    color: white;
    border: 1px solid white;
}
.footer-btn:hover {
    background: white;
    color: black;
}
/*
=================
Burger menu
=================
*/
.burger-menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    position: fixed;
    top: 0;
    right: -150px;
    width: 150px;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s ease;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.burger-menu.active {
    right: 0;
}
.burger-menu-nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.burger-title {
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}
.burger-menu-nav a {
    color: black;
    font-size: 22px;
    font-weight: 400;
}
/* global */
@media screen and (max-width: 340px){
    .py-20 {
        padding: 0 6px;
    }
}
/* header */
@media screen and (min-width: 800px){
    .header-mobile {
        display: none;
    }
}
@media screen and (max-width: 800px){
    .header-mobile {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-content {
        display: none;
    }
}
/* one */
@media screen and (max-height: 860px){
    .one {
        height: 100vh;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-height: 750px){
    .one {
        height: 110vh;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-height: 710px){
    .one {
        height: 140vh;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-height: 570px){
    .one {
        height: 170vh;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-height: 480px){
    .one {
        height: 200vh;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 740px){
    .one img {
        width: 400px;
    }
    .one-content {
        display: flex;
        flex-direction: column;
    }
    .one-text {
        width: 400px;
    }
    .one-bottom {
        margin-top: 30px;
    }
}
@media screen and (max-width: 450px){
    .one img {
        width: 300px;
    }
    .one-content {
        display: flex;
        flex-direction: column;
    }
    .one-text {
        width: 300px;
    }
    .one-bottom {
        margin-top: 30px;
    }
    .one-name {
        font-size: 26px;
    }
    .one-disc {
        font-size: 22px;
    }
}
/* footer */
@media screen and (max-width: 600px){
    footer {
        height: 180px;
    }
    .footer-content {
        height: 180px;
        padding: 20px 0 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
}